extends layout/main
include ../../pug/blocks/mixins/mixins
include ../../pug/blocks/breadcrumbs/breadcrumbs
include ../../pug/blocks/confirm/confirm



block title
	title Aeroexpress
block pagecontent
	+breadcrumbs('Подтверждение покупки', 'Главная')
	.container
		h2 Подтверждение покупки
	.decor-line-1
	.container.container--small
		+confirm()

