extends layout/main
include ../../pug/blocks/mixins/mixins
include ../../pug/blocks/breadcrumbs/breadcrumbs
include ../../pug/blocks/confirm/confirm



block title
	title Aeroexpress
block pagecontent
	+breadcrumbs('Подтверждение покупки', 'Главная')
	.container
		h2 попапы
		div
			a.popup-with-move-anim(href='#popup-active') popup-active
		div
			a.popup-with-move-anim(href='#popup-id') popup-id
		div
			a.popup-with-move-anim(href='#popup-email') popup-email
