mixin main-nav()
	// start main-nav
	+b.NAV.main-nav
		+e.A.activate.popup-with-move-anim(href='#popup-active') Активировать
		+e.UL.list
			+e.LI.item
				+e.A.item-link(href='#')  О компании
			+e.LI.item
				+e.A.item-link(href='#')  Как это работает
			+e.LI.item--phone
				+e.A.item-link(href='tel:+78004444308')  8 800 444 43 08
				+e.label Консультация и поддержка клиентов
	// end main-nav
