.main-nav {
  transition: .3s;


  @include media-breakpoint-down(md) {
    transform: translateX(-110vw);
    position: absolute;
    top: 100%;
    z-index: 20;
    display: flex;
    flex-direction: column;
    &.open {
      position: absolute;
      top: 100%;
      margin-top: 2px;
      background-color: white;
      width: 100%;
      left: 0;
      transform: translateX(0);
      z-index: 20;
      padding-top: 10px;
      padding-bottom: 16px;
      padding-left: 16px;
      padding-right: 16px;
    }
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__item-link {
      font-size: 18px;
      line-height: 116%;
      color: black;
      margin-bottom: 16px;
      display: block;
      text-align: center;
    }
    &__item {
      &--phone {
        margin-bottom: 20px;
        margin-top: 10px;

        .main-nav__item-link {
          font-size: 24px;
          line-height: 29px;
          color: $accent;
          margin-bottom: 10px;
        }
      }
    }
    &__label {
      font-size: 12px;
      line-height: 14px;
      color: #000000;
    }
  }

  &__activate {
    width: 100%;
    background-color: $accent;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 32px;
    cursor: pointer;
    margin-bottom: 32px;
  }

  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
    &__list {
      display: flex;
      align-items: center;
    }
    &__item-link {
      margin-right: 46px;
      color: black;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      text-decoration: none;
    }
    &__label {
      display: none;
    }
    &__activate {
      width: auto;
      padding: 12px 14px 14px 14px;
      min-width: 169px;
      font-weight: bold;
      font-size: 16px;
      line-height: 16px;
      order: 1;
      margin-bottom: 0;
      min-height: 48px;
    }
  }
}
