mixin statistics()
	+b.SECTION.statistics
		.container
			+e.H2.title Статистика
			+e.list
				+e.item
					+e.number 192
					+e.P.description Возвращено документов
				+e.item
					+e.number 54
					+e.P.description Возвращено	багажа
