mixin services()
	+b.services
		+e.H3.title Выберите пакет услуг, который вы хотите активировать
		p.mb-5 Благодаря предварительной маркировке личных вещей специальными метками (брелоками, наклейками, браслетами, кулонами, багажными бирками) с уникальным идентификационным (ID) номером, а также уникальным разработкам в области мобильных приложений по защите личных вещей, КликТуАйДи эффективно помогает вернуть владельцу потерянные вещи из любой точки мира.
		+e.list
			+e.A.item--one(href='#')
				+e.sup-title Пакет услуг
				+e.item-title Путешествие без забот
			+e.A.item--two(href='#')
				+e.sup-title Пакет услуг
				+e.item-title Брелок<br> для ключей
			+e.A.item--three(href='#')
				+e.sup-title Пакет услуг
				+e.item-title Защита<br> лайт
		p ДЛЯ АКТИВАЦИИ ПАКЕТА УСЛУГ ВАМ НЕОБХОДИМО:
		ol
			li: p Пройти по ссылке «АКТИВАЦИЯ»
			li: p Заполнить все обязательные поля (поля, помеченные обозначением(*))
			li: p Ознакомиться с условиями Соглашения и принять его условия, проставив галочку
			li: p Подтвердить, что Вы не робот
			li: p Пройти по активной ссылке «АКТИВИРОВАТЬ»
		p ПОЗДРАВЛЯЕМ, ВЫ ПОЛУЧИЛИ АКТИВНЫЙ СЕРВИС (24/7/365) ПО ПОДДЕРЖКЕ КЛИЕНТОВ В ЭКСТРЕННЫХ СЛУЧАЯХ, КОГДА ПОТЕРЯЛИСЬ ВАШИ БЛИЗКИЕ ЛЮДИ, ПИТОМЦЫ, А ТАКЖЕ ЛИЧНЫЕ ВЕЩИ!
		p СЕРВИС ДОСТУПЕН!
