mixin top-steps()
	+b.SECTION.top-steps
		+e.list
			+e.item
				+e.number
					span 1
				+e.P.text Оплатите пакет услуг
			+e.item
				+e.number
					span 2
				+e.P.text Получите его в  кассе Аэроэкспресс
			+e.item
				+e.number
					span 3
				+e.P.text Активируйте услугу на сайте


