body {
  max-width: 100vw;
  overflow-x: hidden;
  color: black;
  font-family: $default-font;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;

  &--small {
    max-width: 734px;
  }
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  @include media-breakpoint-up(lg) {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
  }
}

h3 {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  @include media-breakpoint-up(lg) {

  }
}

button {
  border: none;

  &:focus,
  &:active {
    outline: none;
    border: none;
  }
}

a {
  text-decoration: none;
  transition: .2s;

  &:active,
  &:focus {
    outline: none;
  }
}

p {
  font-size: 20px;
  line-height: 150%;
  @include media-breakpoint-up(lg) {
    font-size: 20px;
    line-height: 150%;
  }
}

i {
  font-style: italic;
}

.opacity {
  opacity: .5;
}

img {
  border-radius: 20px;
}

blockquote {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 23px;
  color: $accent;
  padding-bottom: 24px;
  position: relative;
  &:after,
  &:before{
    position: absolute;
    display: block;
    content: "";
    width: 85%;
    height: 1px;
    background-color: $accent;
  }
  &:before{
    left: 0;
    top: 0;
  }
  &:after {
    right: 0;
    bottom: 0;
  }
  @include media-breakpoint-up(lg){
    font-size: 20px;
    line-height: 150%;
    padding-top: 38px;
    padding-bottom: 38px;
    margin-bottom: 48px;
    margin-top: 48px;
    &:after,
    &:before{
      width: 75%;
    }
  }
}

.decor-line-1{
  background-image: url("../img/decor.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 23vw;
  @include media-breakpoint-up(lg){
    margin-top: -5vw;
    margin-bottom: -10vw;
  }
}
