mixin about()
	+b.SECTION.about
		.container
			+e.H2.title О компании
			+e.wrapper
				+e.img-wrapper
					+e.IMG.img(src='img/logo3.svg' alt='img' width='166')
				+e.content-wrapper
					+e.P.text--black Компания КликТуАйДи предоставляет инновационный сервис на рынке поддержки клиентов в случаях, когда потерялись Ваши личные вещи, близкие люди или питомцы.
					+e.P.text Качественный сервис, профессиональный и высокий уровень обслуживания клиентов позволили заработать лояльность по всему миру.
					+e.P.text Благодаря предварительной маркировке личных вещей специальными метками (брелоками, наклейками, браслетами, кулонами, багажными бирками) с уникальным идентификационным (ID) номером
					+e.A.reed-more(href='#') Узнать больше о компании...
